
#titleh1 {
    font-family: 'Jeju Hallasan', cursive;
    font-size: 27px;
    text-align: center;
    color: #1E3FD2;
    margin-top: 35px;
}

#textop {
    font-family: 'Jeju Hallasan', cursive;
    text-align: center;
    margin-bottom: 20px;
    color: #4B5563;
}

.barra-titulos {
    display: flex;
    padding: 40px;
    justify-content: center;
    gap: 35px;
}

.conteudo-principal{
    padding: 70px;
    border-radius: 8px; /* Borda arredondada opcional */
    width: 500px;
    box-shadow: 14px 8px 22px 2px rgb(109, 109, 109); /* Adiciona sombra */
}
.conteudo-conhecimento {
    padding: 20px;
    border-radius: 8px; /* Borda arredondada opcional */
    width: 500px;
    box-shadow: 14px 8px 22px 2px rgb(109, 109, 109); /* Adiciona sombra */
}
.conteudo-principal {
    
    text-align: left;
    line-height: 26px;
}

#text-sobre h1 {
    color: #1E3FD2;
    font-family: 'Jeju Hallasan', cursive;
    font-size: 28px;
    margin-bottom: 15px;
}

#text-sobre p {
    color: #4B5563;
    font-family: 'Jeju Hallasan', cursive;
}

.conteudo-conhecimento {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsividade */
@media (max-width: 768px) {
    .barra-titulos {
        display: flex;
        flex-direction: column;
   
    }
    #conteudoprin{
        margin-top: 40px;
    }
    #titleh1{
        font-size: 24px;
    }

}
@media (min-width: 330px) and (max-width: 400px) {
    .barra-titulos {
        display: flex;
        flex-direction: column;
        align-items: center;
   
    }
    #conteudoprin{
        margin-top: 60px;
    }
    #titleh1{
        font-size: 24px;
    }
    #textop{
        font-size: 15px;
    }
    .conteudo-principal{
        width: 360px;
        padding: 25px;
        margin: 12px;
    }
    .conteudo-conhecimento{
        width: 360px;
        padding: 25px;
        margin: 12px;
    }

}